## Importing Libraries

In [2]:
import pandas as pd
#from sklearn.dataset import load_irir

'2.1.4'

## Loading Dataset

In [7]:
## loading a csv file
data = pd.read_csv("datasets/Iris_data_sample.csv")
data

,Unnamed: 0,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,NaN,1.4,0.2,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,??,3.1,1.5,0.2,Iris-setosa
4,5,5,3.6,###,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
data = pd.read_e("datasets/Iris_data_sample.txt")

In [10]:
data

     "SepalLengthCm" "SepalWidthCm" "PetalLengthCm" "PetalWidthCm" "Species"
0                    1 1 5.1 3.5 1.4 0.2 "Iris-setosa"
1                      2 2 4.9 3 1.4 0.2 "Iris-setosa"
2                    3 3 4.7 3.2 1.3 0.2 "Iris-setosa"
3                    4 4 4.6 3.1 1.5 0.2 "Iris-setosa"
4                      5 5 5 3.6 1.4 0.2 "Iris-setosa"
..                                                 ...
145             146 146 6.7 3 5.2 2.3 "Iris-virginica"
146             147 147 6.3 2.5 5 1.9 "Iris-virginica"
147               148 148 6.5 3 5.2 2 "Iris-virginica"
148           149 149 6.2 3.4 5.4 2.3 "Iris-virginica"
149             150 150 5.9 3 5.1 1.8 "Iris-virginica"

[150 rows x 1 columns]